* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  overflow: hidden;
}

body {
  background-color: #aaa;
}

.wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-inline: auto;
}

canvas#overlay-canvas {
  position: absolute;
  top: 0;
  left: 0;
}

canvas#game-canvas {
  background-color: #ddd;
  width: 400px;
}

canvas#network-canvas {
  background-color: #000;
  width: 66%;
  right: 0;
  left: unset;
}
